<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>anler.me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Encode+Sans|Titillium+Web" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/style.css?$lastCommit$">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  </head>

  <body>
    <div id="content">
      <header>
        <div class="container">
          <p id="intro" class="abril big-text" >
            ¡Hola!<br>My name is <u>Anler</u>. I'm a fullstack web developer living in Madrid.
          </p>
        </div>
      </header>

      <main>
        <div class="container">
          <p class="abril big-text center-text" >~</p>
          <p>
            I'm also a passionate and polyglot software engineer with
            years of experience in web development. I have worked both
            as a frontend and backend developer with a variety of
            technologies, from dynamically/weakly-typed languages to
            statically/strongly-typed ones. I love to learn from other
            people, write about the stuff I like at <a target="_blank" href="https://medium.com/@anler">Medium</a>, as well as <a target="_blank" href="https://www.ironhack.com/en">teach</a> what I know, and usually I don't miss a meeting from the <a target="_blank" href="https://www.meetup.com/Open-Source-Weekends/">OSW</a>,
            <a target="_blank" href="https://www.meetup.com/Scala-Programming-Madrid/">Scala</a> and <a target="_blank" href="https://www.meetup.com/Haskell-MAD/">Haskell</a> meetups.
          </p>
          <p>
            You can find me on <a target="_blank" href="https://twitter.com/anler">Twitter</a>, <a target="_blank" href="https://es.linkedin.com/in/anler">Linkedin</a>, <a target="_blank" href="https://github.com/anler">GitHub</a> and <a target="_blank" href="http://stackoverflow.com/users/544707/anler">StackOverflow</a>.
          </p>
        </div>
      </main>
      <footer>
        <div class="container">
          <p>Current site version: <a target="_blank" href="https://github.com/anler/anler.me/tree/522d439">234023</a></p>
        </div>
        <div id="home-image">
          <img src="/images/me.jpg">
        </div>
      </footer>
    </div>
  </body>
</html>
