<h2>Título</h2>
<p>$title$</p>

<h2>Meta</h2>
<p>
  Publicado: $date$
  $if(tags)$<br>
  Etiquetas: $tags$
  $endif$
</p>

$if(teaser)$
<h2>Sinopsis</h2>
<p>$teaser$</p>
$endif$

<h2>Descripción</h2>
<article>
  $body$
</article>

<h2>Comentarios</h2>
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
  this.page.url = "https://www.anler.me$url$";
  this.page.identifier = "$id$";
};
(function() {
var d = document, s = d.createElement('script');
s.src = '//anler-me.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
